{% extends "layout.html" %}

{% block title %}
    Find Stocks
{% endblock %}


{% block main %}

<!-- Search quotes -->
<div class="mb-3">
<form class="left" action="/quoted" method="get" name="get-quote">
   <input autocomplete="off" autofocus class="mx-auto w-auto left" id="q0" name="name" placeholder="Symbol or Name" type="search">
   <button class="btn btn-sm btn-primary" type="submit">Get Price</button>
</form>
</div>

   <script src="/static/script.js"></script>

<div>
   <table style="width: 50%">
      <tr>
      </tr>
   </table>
</div>

{% endblock %}
